<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Testng Parameters">
	<test name="different tetng Parameters">


		<listeners>
			<listener
				class-name="com.crm.qa.util.ExtentReportListener.ExtentReportListener" />
		</listeners>
		<classes>
			<class> name="com.crm.qa.testcases.LoginPageTests"/>
		</classes>

	</test>

</suite>
		
